

hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.shortcut {
    padding: 2px;
    display: block;
    cursor: default;
}

.shortcut:hover {
    background: #00abff;
    color: white;
}

.displayed-files {
    padding: 5px;
    cursor: default;

}

.displayed-files:hover {
    background: #47d43f;
    color: white;
}

.row {
    /*text-align: center;*/
    align-content: center;
    align-items: center;
}



/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  